.homebody {
    background-image: url(../../../images/tractor.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 583px;
  }
  
  .topic {
    font-size: 80px;
    color: white;
    margin-top: 120px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(32, 32, 32));
  }
  
  .subtopic {
    margin: 0;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  }
  
  .T {
    color: rgb(255, 115, 0);
  }
 
  .homeservices
  {
    margin-top: 380px;
    height: 750px;
    width: 100%;
    background-color: rgb(255, 240, 240);
  }

  .innerdiv{
    height: 1000px;
    width: 300px;
    color: blue;
  }
  
  .btnn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
  }
  .btn1{
    background-color: rgb(255, 115, 0);
    border-radius: 7px;
}
.btn2{
      background-color: rgb(255, 115, 0);
      border-radius: 7px;
  }
  .btn1:hover
  {
    filter: drop-shadow(0 0 0.50rem rgb(255, 115, 0));
    transform: translateY(-10px);
    transition: 0.5s;
    cursor: pointer;
  }
  .btn2:hover
  {
    filter: drop-shadow(0 0 0.50rem rgb(255, 115, 0));
    transform: translateY(-10px);
    transition: 0.5s;
    cursor: pointer;
  }

  @media (max-width:725px) {
    .homebody {
        background-image: url(../../../images/tractor1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 800px;
    
      }
    .topic {
        font-size: 50px;
        color: white;
        margin-top: 200px;
        margin-bottom: 20px;
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
      }
      .subtopic {
        margin: 0;
        font-size: 17px;
        padding: 10px;
        color: white;
        margin-top: 20px;
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
      }
  }