footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-info {
    text-align: left;
  }
  
  .footer-copyright {
    text-align: right;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  .details{
    color: white;
  }
  .github{
    height: 30px;
    width: 30px;
    background-image: url(../../images/github.png);
    background-size: cover;
  }
  .linkedin{
    height: 30px;
    width: 30px;
    background-image: url(../../images/likedin..png);
    background-size: cover;
  }
  .mail{
    height: 30px;
    width: 30px;
    background-image: url(../../images/mail.png);
    background-size: cover;
  }
  .insta{
    height: 30px;
    width: 30px;
    background-image: url(../../images/insta.png);
    background-size: cover;
  }
.img-flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
  @media (max-width:725px) {
    .footer-content{
        padding-left: 20px;
        padding-right: 20px;
    }
  }