ol{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    background-color: beige;
    margin: 0px;
    padding: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(206, 206, 206));
}
li{
    text-decoration: none;
    color: inherit;
}
.footer{
    height: 100px;;
}